.alltasks{
    border-radius: 8px;
    padding: 1rem;
    background-color: var(--gray-400);
}

.tasks{
    gap: 12px;
    display: flex;
    justify-content: space-between;
}

.tasks input:checked + label{
    color: var(--gray-300);
    text-decoration: line-through;
}

.tasks input{
    width: 24px;
    height: 24px;
    opacity: 0.9;
}

.tasks label{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;

    color: var(--gray-100);
}

.tasks button{
    display: block;
    width: 30px;
    height: 30px;
    border: 0;

    background-color: transparent;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.tasks button svg{
    color: var(--gray-300);
    transition: 0.2s;
}

.tasks button svg:hover{  
    color: var(--danger); 
    background-color: var(--gray-300);
}